body { padding-top:20px; background: url('../gfx/holz.jpg'); background-attachment: fixed; }
li { list-style: none; }
ul { margin:0px;padding:0px;}

.col-centered{
    float: none;
    margin: 0 auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.inputBox {
	border-radius: 10px;
	background-color: #efefef;
	border:1px solid #aeaeae;
	padding-bottom:20px;
}

.gewinner {background-color: green!important; color:white;}

#spieler  li {margin:5px; cursor:pointer;float: left; padding:10px; border:1px solid black; width: 60px; text-align:center; background-color:white}
#spielTyp li input { margin-right:4px;}

#summen td {background-color:#f7ff1f}
input[type=radio] {position: relative; top:1px}

.inputBox.neuesSpiel { background: url('../gfx/bayern.jpg'); }
.inputTable th { padding-bottom: 10px; }
.doppelt input {margin-right:10px}

.spielerID { display:none}

.winner { font-weight: bold;}

.deleteGame { color: red; cursor: pointer; }
.popover-content { color: red; cursor: pointer; }
.popover-content:hover { text-decoration: underline; }
.showDayDetail { cursor: pointer}
.spielName {background-color:pink;}
.graf {background-color:#fff;}

.legend { left: 90px; position: absolute;}

.overview { margin-top: 20px; }
.overview .day_0 {background-color:#f7ff1f; font-weight: bold;}